img {
    width: 190px;
    height: auto;
}

.example-container {
    height: 270px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

.custo {
    background-color: rgb(182, 202, 135);
    color: black;
  }