.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

img {
  width: 190px;
  height: auto;
}

.errors {
  color: purple;
}

a, button {
  margin: 10px;
}

/* class repeated for increased specificity */
.mat-form-field.mat-form-field {
  width: auto;
}
