<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Sair <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container"> 

  <nav class="level">
      <div class="level-left">
          <div class="title is-4">Apontamentos Projeto</div> 
      </div>
      <div class="level-right">
          <button mat-stroked-button color="primary" style="margin-top: 15px;" [routerLink]="['/apontamento/novo']">Novo apontamento</button>
      </div> 
  </nav>



  <mat-tab-group>
    <div class="container"> 
      <!-- <mat-tab label="Hora" *ngIf="apontamentos.hora.inicio"> -->
      <mat-tab label="Hora">

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          
          <div class="mat-elevation-z8 linha">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- {{ apontamentos[0].hora | json }} -->
              <!-- Codigo Column -->
              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> código </th>
                <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
              </ng-container>
          
              <!-- Descricao Column -->
              <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> descricao </th>
                <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
              </ng-container>
          
              <!-- Inicio Column -->
              <ng-container matColumnDef="inicio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> início </th>
                <td mat-cell *matCellDef="let row"> {{row.hora.inicio}} </td>
              </ng-container>
          
            <!-- Ação Column -->
            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ação </th>
                <td mat-cell *matCellDef="let row"> 
                  <div class="button-row">
                    <button mat-button color="warn" style="margin-top: -15px" (click)="openDialog(row)">encerrar</button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>

      </mat-tab>

    </div>

    <div class="container"> 
      <mat-tab label="Despesa">
      <!-- <mat-tab label="Despesa" *ngIf="!apontamentos.hora.inicio"> -->
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
          
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <!-- Codigo Column -->
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> código </th>
              <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
            </ng-container>
        
            <!-- Descricao Column -->
            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> descricao </th>
              <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
            </ng-container>
        
            <!-- Inicio Column -->
            <ng-container matColumnDef="inicio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> início </th>
              <td mat-cell *matCellDef="let row"> {{row.hora.inicio}} </td>
            </ng-container>
        
          <!-- Ação Column -->
          <!-- <ng-container matColumnDef="acao">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ação </th>
              <td mat-cell *matCellDef="let row"> 
                <div class="button-row">
                  <button mat-button color="warn" (click)="openDialog(row)">encerrar</button>
                </div>
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef= "['codigo', 'descricao', 'inicio'];"></tr>
            <tr mat-row *matRowDef="let row; columns:  ['codigo', 'descricao', 'inicio'];">
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

      </mat-tab>

    </div>
  </mat-tab-group>

</div>