<figure class="image is-128x128">
    <img src="../assets/images/TorreNegra-logo-comp-horz-cor-pos-bgB.png">
</figure>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle  active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/usuarios']">Usuário</a>
          <a class="dropdown-item" [routerLink]="['/clientes']">Cliente</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/apontamentos']">Apontamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/financeiro']">Financeiro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Relatório
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Financeiro</a>
          <a class="dropdown-item" href="#">Total de horas por projeto</a>
          <a class="dropdown-item" href="#">Total de horas por funcionário</a>
          <a class="dropdown-item" href="#">Custo por pedido</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Projetos encerrados</a>
        </div>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Sair <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="container">
  <nav class="level">
    <div class="level-left">
        <div class="title is-4">Projetos</div> 
    </div>
    <div class="level-right">
        <button type="button" class="button is-light" [routerLink]="['/projeto/novo']">Novo projeto</button>
    </div> 
  </nav>
  <article class="media">
    <div class="media-content">
      <div class="content">
        <br>
        <div id="scroll">
          <table class="table table-hover" align="left">
            <thead>
              <tr class="table-primary d-flex">
                <th class="col-1.5">Código</th>
                <th class="col-3">Descrição</th>
                <th class="col-2">Cliente</th>
                <th class="col-2">Pedido</th>
                <th class="col-1">Ação</th>
                <th class="col-1"> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let projeto of projetos" class="d-flex">
                <td class="col-1.5">{{ projeto['codigo'] }}</td>
                <td class="col-3">{{ projeto['descricao'] }}</td>
                <td class="col-2">{{ projeto['nomeFantasiaCliente'] }}</td>
                <td class="col-2">{{ projeto['pedido'] }}</td>
                <td class="col-1"><button type="button" [routerLink]="['/projeto/edit/', projeto['_id'] ]" class="button is-warning">Editar</button></td>
                <td class="col-1"><button mat-button (click)="openDialog(projeto)" class="button is-danger" [disabled]="projeto['encerrado']">Encerrar</button></td>
              </tr>
            </tbody>
          </table> 
        </div>    
      </div>
    </div>
  </article>
</div> -->

<div class="container">

  <div class="level-left">
      <div style="margin-top: 20px;" class="title is-4">Projetos</div> 
  </div>
  <div class="level-right">
      <button mat-stroked-button color="primary" [routerLink]="['/projeto/novo']">Novo projeto</button>
  </div> 

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      {{ dataSource }}
      <!-- ID Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> código </th>
        <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> descrição </th>
        <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> cliente </th>
        <td mat-cell *matCellDef="let row"> {{row.cliente}} </td>
      </ng-container>

      <!-- Pedido Column -->
      <ng-container matColumnDef="pedido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> pedido </th>
        <td mat-cell *matCellDef="let row"> {{row.pedido}} </td>
      </ng-container>

     <!-- Acao 1 Column -->
     <ng-container matColumnDef="acao1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ação </th>
        <td mat-cell *matCellDef="let row" >
          <div class="button-row">
            <button mat-button color="primary" [routerLink]="['/projeto/edit/', row['_id'] ]">editar</button>
          </div>
        </td>
      </ng-container>

     <!-- Acao 2 Column -->
     <ng-container matColumnDef="acao2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let row" >
          <div class="button-row">
            <button mat-button color="warn" (click)="openDialog(row)" [disabled]="row['encerrado']">encerrar</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>