table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
td, th {
    width: 28%;
}

.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}

button {
    margin-top: -15px;
}

img {
    width: 190px;
    height: auto;
}