<section class="hero is-info is-fullheight">
  <div class="hero-body">
      <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
              <h3 class="title has-text-grey">Apontador!</h3>
              <p class="subtitle has-text-grey">Digite seus dados para entrar</p>
              <div class="box">
                  <figure class="avatar">
                      <img src="../assets/images/torrenegra.png">
                  </figure>
                  <div class="errors">
                    <p *ngIf="errors.email" >  {{ errors.email.message }} </p>
                    <p *ngIf="errors.senha"> {{ errors.senha.message }} </p>        
                  </div>
                  <form name="form" (submit)="login()" #formData="ngForm"> 
                      <div class="field">
                          <div class="control">
                              <input class="input is-large"
                               type="email" 
                               placeholder="Seu Email" 
                               autofocus=""
                               name="email" 
                               required
                               [(ngModel)]="usuario.email" 
                               #email="ngModel"  
                              />
                          </div>
                      </div>

                      <div class="field">
                          <div class="control">
                              <input class="input is-large" 
                              type="password" 
                              placeholder="Sua Senha"
                              name="senha" 
                              required
                              [(ngModel)]="usuario.senha" 
                              #senha="ngModel" 
                             />
                          </div>
                      </div>
                      <div class="field">
                          <label class="checkbox">
                              <input type="checkbox">
                                  Lembrar a Senha
                          </label>
                      </div>
                  <button type="submit" class="button is-block is-info is-large is-fullwidth" [disabled]="formData.invalid">Entrar</button>
                  </form>
              </div>
              <p class="has-text-grey">
                
                  <a href="../">Esqueci minha Senha</a> &nbsp;·&nbsp;
                  <a href="../">Ajuda?</a>
              </p>
          </div>
      </div>
  </div>
</section>

