.errors {
    color: red;
}
.example-card {
    max-width: 400px;
  }
.example-header-image {
  background-image: url('/assets/images/TorreNegra-elem-mono-pos.png');
  background-size: cover;
}
.box {
  margin: 100px;
  display: flex;
  justify-content: center;
}