<mat-toolbar>
    <img src="../assets/images/TorreNegra-logo-comp-horz-cor-pos-bgB.png">
</mat-toolbar>
<div class="mat-elevation-z8">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/clientes']">Retornar <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<br>
<div class="container" *ngIf="cliente"> 

  <div class="mat-body-2"> 
    Dados básicos: 
  </div>

    <div layout="row">
      <mat-label class="mat-h2">cnpj</mat-label>
      {{ cliente.cnpj }}
    </div>
 
    <div layout="row">
      <mat-label class="mat-h2">razão social</mat-label>
      {{ cliente.razaoSocial }}
    </div>
 
    <div layout="row">
      <mat-label class="mat-h2">nome fantasia</mat-label>
      {{ cliente.nomeFantasia }}
    </div>
    <br> 
    <div class="mat-body-2"> 
      Dados comerciais:
    </div>
    <div layout="row">
      <mat-label class="mat-h2">endereço</mat-label>

      {{ cliente.endereco.logradouro }}
      <br> 

      <mat-label class="mat-h2">complemento</mat-label>
      {{ cliente.endereco.complemento }} 
      <br> 

      <mat-label class="mat-h2">cidade</mat-label>
      {{ cliente.endereco.cidade }}
      <br> 

      <mat-label class="mat-h2">estado</mat-label>
      {{ cliente.endereco.estado }}
      <br> 

      <mat-label class="mat-h2">cep</mat-label>
      {{ cliente.endereco.cep }}
    </div>
    <br> 
    <div layout="row">
      <mat-label class="mat-h2">valor HH</mat-label>
      {{ cliente.valorHH | currency:'BRL'}}
    </div>
    <div layout="row">
      <mat-label class="mat-h2">prazo pagto</mat-label>
      {{ cliente.prazoPgto }}
    </div>
    <br> 
    <div class="mat-body-2"> 
      Contatos: 
    </div>
    <div  *ngFor="let contato of cliente.contatos;">
      <div layout="row">
        <mat-label class="mat-h2">nome</mat-label>
        {{ contato.nome }}&nbsp;&nbsp;

        <mat-label class="mat-h2">e-mail</mat-label>
        {{ contato.email }}&nbsp;&nbsp;

        <mat-label class="mat-h2">fone</mat-label>
        {{ contato.fone }}&nbsp;&nbsp;

        <mat-label class="mat-h2">skype</mat-label>
        {{ contato.skype }}
      </div>
    </div>
   <br>
    <div class="errors" *ngIf="errors">
      <p *ngIf="errors" >  Cliente não pode ser excluído, pois está associado a um (ou mais) projetos: {{ errors[0].codigo }} </p>
    </div>
    
    <button mat-raised-button color="basic" (click)="cancel()">Cancelar</button>

    <button mat-raised-button color="warn" (click)="excluirCliente()">Excluir</button>

</div>