<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Torre Negra</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/projetos']">Retornar <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
      <nav class="level">
        <div class="level-left">
            <div class="title is-4">Cliente</div> 
        </div>
        <div class="level-right">
            <button type="button" class="button is-light" [routerLink]="['/cliente/novo']">Novo cliente</button>
        </div> 
      </nav>
    <article class="media">
      <div class="media-content">
        <div class="content">
  
          <br>
          <div id="scroll">
            <table class="table table-hover is-one-third" align="left">
              <thead>
                  <tr class="table-primary d-flex">
                    <th class="col-2">Nome Fantasia</th>
                    <th class="col-1">Valor H/H</th>
                    <th class="col-1">Prazo Pgto</th>
                    <th class="col-2">Primeiro Contato </th>
                    <th class="col-3">E-mail </th>
                    <th class="col-2">Fone </th>
                    <th class="col-1">Ação</th>
                    <th class="col-2"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cliente of clientes" class="d-flex is-small">
                    <td class="col-2">{{ cliente['nomeFantasia'] }}</td>
                    <td class="col-1">{{ cliente['valorHH'] }}</td>
                    <td class="col-1">{{ cliente['prazoPgto'] }}</td>
                    <td class="col-2">{{ cliente.contatos[0].value }}</td>
                    <td class="col-3">{{ cliente.contatos[1].value }}</td>
                    <td class="col-2">{{ cliente.contatos[2].value }}</td>
                    <td class="col-1"><button type="button" [routerLink]="['/cliente/edit/', cliente['_id'] ]" class="button is-warning">Editar</button></td>
                    <td class="col-2"><button type="button" [routerLink]="['/cliente/show', cliente['_id'] ]"  class="button is-danger">Detalhes</button></td>
                  </tr>
                </tbody>
              </table> 
            </div>    
          </div>
        </div>
      </article>
  </div>
    
  
  