img {
    width: 190px;
    height: auto;
}

.example-container {
    height: 270px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
    margin: 10px;
    padding: 2px;
  }
  
  .total {
    background-color: rgb(182, 202, 135);
    color: black;
  }