<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <figure class="image is-128x128">
    <img src="../assets/images/TorreNegra-logo-comp-horz-cor-pos-bgB.png">
  </figure> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="projeto/list">Retornar <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <article class="media">
    <div class="media-content">
      <div class="content">

        <br>
        <div id="scroll">
          <table class="table table-hover" align="left">
            <thead>
                <tr class="table-primary d-flex">
                  <th class="col-1">Código</th>
                  <th class="col-3">Descrição</th>
                  <th class="col-2">Cliente</th>
                  <th class="col-2">Pedido</th>
                  <th class="col-1">Ação</th>
                  <th class="col-1"> </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let projeto of projetos" class="d-flex">
                  <td class="col-1">{{ projeto['codigo'] }}</td>
                  <td class="col-3">{{ projeto['descricao'] }}</td>
                  <td class="col-2">{{ projeto['cliente'] }}</td>
                  <td class="col-2">{{ projeto['pedido'] }}</td>
                  <td class="col-1"><button type="button" [routerLink]="['/projeto/edit/', projeto['_id'] ]" class="button is-warning">Editar</button></td>
                  <td class="col-1"><button type="button" [routerLink]="['/projeto/show', projeto['_id'] ]"  class="button is-danger">Encerrar</button></td>
                </tr>
              </tbody>
            </table> 
          </div>    
        </div>
      </div>
    </article>

  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancela</button>
  <button type="button" class="btn btn-primary"(click)="encerrar()">Confirma</button>

        <!-- <div class="errors">
          <p *ngIf="errors.name" >  {{ errors.name.message }} </p>
          <p *ngIf="errors.cuisine"> {{ errors.cuisine.message }} </p>        
        </div> -->
</div>  