<mat-toolbar>
    <img src="../assets/images/TorreNegra-logo-comp-horz-cor-pos-bgB.png">
</mat-toolbar>
<div class="mat-elevation-z8">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/clientes']">Retornar <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<br>
<div class="container">
    <div class="mat-body-2"> 
      Dados básicos: 
    </div>
    <div class="errors" *ngIf="errors">
      <p *ngIf="errors.cnpj" >  {{ errors['cnpj'].message }} </p>
      <p *ngIf="errors.razaoSocial" >  {{ errors['razaoSocial'].message }} </p>
      <p *ngIf="errors.nomeFantasia" >  {{ errors['nomeFantasia'].message }} </p>
      <p *ngIf="errors['endereco.logradouro']" >  {{ errors['endereco.logradouro'].message }} </p>   
      <p *ngIf="errors['endereco.cidade']" >  {{ errors['endereco.cidade'].message }} </p>  
      <p *ngIf="errors['endereco.estado']" >  {{ errors['endereco.estado'].message }} </p>   
      <p *ngIf="errors['endereco.cep']" >  {{ errors['endereco.cep'].message }} </p>          
    </div>

    <form class="example-form"  *ngIf="cliente" [formGroup] = "clienteForm">

        <p> 
        <td><mat-form-field class="example-full-width">
          <input 
          matInput 
          placeholder="cnpj"
          type="text"
          formControlName="cnpj" 
          name="cnpj"
          >
          <mat-error *ngIf="cnpj.invalid && cnpj.touched">
            cnpj informado não é válido
          </mat-error>
        </mat-form-field></td>
  
        <table class="example-full-width" cellspacing="0"><tr> 

            <td><mat-form-field class="example-full-width">
              <input 
              matInput 
              placeholder="razão social"
              type="text"
              maxlength="650"
              formControlName="razaoSocial" 
              name="razaoSocial"
              />
              <mat-error *ngIf="razaoSocial.invalid && razaoSocial.touched">
                  razão social informada não é válida
              </mat-error>
            </mat-form-field></td>
          </tr></table>

          <table class="example-full-width" cellspacing="0"><tr> 
          <td><mat-form-field class="example-full-width">
            <input 
            matInput 
            placeholder="nome fantasia"
            type="text"
            formControlName="nomeFantasia"  
            name="nomeFantasia"
            />
            <mat-error *ngIf="nomeFantasia.invalid && nomeFantasia.touched">
                nome fantasia informado não é válido
            </mat-error>
          </mat-form-field></td>
        </tr></table>
  
  
      <form class="example-form" [formGroup]="endereco">
        <p>
        <mat-form-field class="example-full-width">
          <input 
          matInput
          placeholder="endereço"
          type="text"
          formControlName="logradouro" 
          name="logradouro"  
          />
        </mat-form-field>
      </p>
  

      <p>
        <mat-form-field style="width:200px !important;" class="example-full-width">
          <input 
          matInput 
          placeholder="complemento"
          type="text"
          formControlName="complemento" 
          name="complemento"
          /> 
        </mat-form-field>
      </p>

      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <input 
          matInput 
          placeholder="cidade"
          type="text"
          formControlName="cidade" 
          name="cidade"
          >
        </mat-form-field></td>&nbsp;&nbsp;
        <td><mat-form-field class="example-full-width">
          <input 
          matInput 
          placeholder="estado"
          type="text"
          formControlName="estado"
          name="estado" 
          maxlength="2"
          >
          <mat-hint align="end" *ngIf="estado">{{estado.value.length}} / 2</mat-hint>
        </mat-form-field></td>&nbsp;&nbsp;
        <td><mat-form-field class="example-full-width">
          <input 
          matInput 
          placeholder="cep"
          type="number"
          #postalCode
          formControlName="cep" 
          maxlength="8" 
          name="cep" 
          >
          <mat-hint align="end" *ngIf="cep">{{cep.value.length}} / 8</mat-hint>

        </mat-form-field></td>
      </tr></table>
      </form>
      <div class="mat-body-2"> 
        Dados comerciais:
      </div>
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <input 
          matInput
          autocomplete="off" 
          placeholder="valor HH"
          formControlName="valorHH" 
          name="valorHH"  
          currencyMask 
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          class="example-right-align"
          />
        </mat-form-field></td>&nbsp;&nbsp;&nbsp;&nbsp;

        <td><mat-form-field class="example-full-width">
          <input 
          matInput
          placeholder="prazo pagto"
          type="number"
          formControlName="prazoPgto" 
          name="prazoPgto"  
          />
        </mat-form-field></td>
      </tr></table>
      <div class="mat-body-2"> 
        Contatos: 
      </div>
      <div formArrayName="contatos">


        <div *ngFor="let contato of contatoForms.controls; let i = index;" [formGroupName]="i">
  
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input 
              matInput
              placeholder="nome"
              type="text"
              formControlName="nome" 
              name="nome"  
              />
            </mat-form-field></td>
  
            <td><mat-form-field class="example-full-width">
                <input 
                matInput
                placeholder="email"
                type="email"
                formControlName="email" 
                name="email"
                />
              </mat-form-field></td>
  
            <td><mat-form-field class="example-full-width">
                <input 
                matInput
                placeholder="fone"
                type="number"
                formControlName="fone" 
                name="fone"  
                />
              </mat-form-field></td>
  
              <td><mat-form-field class="example-full-width">
                  <input 
                  matInput
                  placeholder="skype"
                  type="text"
                  formControlName="skype" 
                  name="skype"  
                  />
                </mat-form-field></td>

              <a  mat-mini-fab color="warn" (click)="deleteContato(i)">-</a>
              <br>
            </tr></table>
          </div>
        
        </div>  

        <a mat-mini-fab color="primary" (click)="addContato()">+</a>
     <div>
      <button mat-raised-button color="basic" (click)="cancel()">Cancela</button>

      <button mat-raised-button color="primary"  (click)="editarCliente(clienteForm, endereco)" [disabled]="clienteForm.invalid || endereco.invalid">Confirma</button>
    </div>
  
    </form>


</div>
