<!-- <div class="bg-img">
  <div class="bg2-img"></div>
	<ul class="tabs teal">
		<li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
		<li class="tab col s3"><a class="white-text" href="#register">register</a></li>
	</ul>

	<div id="register" class="col s12">
		<form class="col s12">
			<div class="form-container">
				<h3 class="teal-text">BEM-VINDO</h3>

				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="email-confirm" type="email" class="validate">
						<label for="email-confirm">Confirme o Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate">
						<label for="senha">Senha</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password-confirm" type="password" class="validate">
						<label for="senha-confirm">Confimre a Senha</label>
					</div>
				</div>

					<button class="btn waves-effect waves-light teal" type="submit" name="action">Submit</button>

			</div>
		</form>
	</div>
</div> -->


<div class="bg-img">
  <div class="bg2-img"></div>
  <form class="example-form" [formGroup] = "formRegister">
      <div class="container">
          <h3 class="teal-text">BEM-VINDO</h3>
        <table class="example-full-width" cellspacing="0"><tr> 

          <td><mat-form-field class="example-full-width">
            <input 
            matInput
            autocomplete="off" 
            placeholder="e-mail"
            type="email"
            formControlName="email" 
            id="email"
            />
            <div *ngIf="email">
              <mat-error *ngIf="email.invalid && email.touched">
                  por favor, informe um endereço de e-mail válido
              </mat-error>
            </div>
            </mat-form-field></td>
          </tr></table>

          <table class="example-full-width" cellspacing="0"><tr> 
            <td><mat-form-field class="mat-body-1">
              <input 
              matInput
              autocomplete="off" 
              placeholder="senha"
              type="password"
              formControlName="senha"  
              id="senha"
              />
              <div *ngIf="senha">
              <mat-error *ngIf="senha.invalid && senha.touched">
                  pelo menos oito caracteres, letra minúscula e maiúscula
              </mat-error>
              </div>
            </mat-form-field></td>
          </tr></table>

          <table class="example-full-width" cellspacing="0"><tr> 
              <td><mat-form-field class="mat-body-1">
                <input 
                matInput
                autocomplete="off" 
                placeholder="nova senha"
                type="password"
                formControlName="novaSenha"  
                id="novaSenha"
                />
                <div *ngIf="novaSenha">
                <mat-error *ngIf="novaSenha.invalid && novaSenha.touched">
                    pelo menos oito caracteres, letra minúscula e maiúscula
                </mat-error>
                </div>
              </mat-form-field></td>
            </tr></table>


          <table class="example-full-width" cellspacing="0"><tr> 
            <td><mat-form-field class="mat-body-1">
              <input 
              matInput
              autocomplete="off" 
              placeholder="confirme a senha"
              type="password"
              formControlName="senhaConfirm"  
              id="senhaConfirm"
              />
              <div *ngIf="senhaConfirm">
              <mat-error *ngIf="senhaConfirm.invalid && senhaConfirm.touched">
                  pelo menos oito caracteres, letra minúscula e maiúscula
              </mat-error>
              </div>
            </mat-form-field></td>
          </tr></table>
          <!-- <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="> -->
        <button  mat-raised-button color="primary" (click)="registrar(formRegister)" [disabled]="formRegister.invalid">enviar</button>
        <div class="errors" *ngIf="errors">
            <p *ngIf="errors" >  {{ errors.message }} </p>
        </div>

        <!-- <a  mat-stroked-button color="primary" [routerLink]="['/primeiro/acesso']">Primeiro acesso?</a> -->
    </div>

  </form>
    
</div>  
<a href="https://www.linkedin.com/in/fernando-carvalho-6834bbb/"  class="btn btn-linkedin btn-lg">Torre Negra Sistemas <span class="mat-body-1">- Av. Pedro Botesi, 2171 - Sala 113 - Mogi Mirim - São Paulo - Brazil</span> </a>   
