<mat-toolbar>
  <img src="../assets/images/TorreNegra-logo-comp-horz-cor-pos-bgB.png">
</mat-toolbar>
<div class="mat-elevation-z8">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/projetos']">Retornar <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<br>
<div class="container" >

  <div class="mat-body-2"> 
    Dados básicos:
  </div>

  <div class="errors" *ngIf="errors">
    <p *ngIf="errors.codigo" >  {{ errors['codigo'].message }} </p>
    <p *ngIf="errors.descricao" >  {{ errors['descricao'].message }} </p>
    <p *ngIf="errors._clienteId" >  {{ errors['_clienteId'].message }} </p>
    <p *ngIf="errors.pedido" >  {{ errors['pedido'].message }} </p>   
    <p *ngIf="errors.horasPLC" >  {{ errors['horasPLC'].message }} </p>
    <p *ngIf="errors.horasIHM" >  {{ errors['horasIHM'].message }} </p>          
  </div>

  <form class="example-form" [formGroup] = "projetoForm">

    <p> 
      <td><mat-form-field class="example-full-width">
        <input 
        matInput 
        placeholder="código"
        type="text"
        formControlName="codigo" 
        name="codigo"
        ng-model='maskModel'
        mask="XX-999-99" clean="true" 
        />
        <mat-hint align="end">formato: XX-999-99</mat-hint>
      </mat-form-field></td>
    </p>

    <table class="example-full-width" cellspacing="0"><tr> 
      <td><mat-form-field style="width:400px !important;" class="example-full-width">
        <input 
        matInput 
        placeholder="descrição"
        type="text"
        formControlName="descricao" 
        name="descricao"
        />
      </mat-form-field></td>
    </tr></table>


    <mat-form-field style="width:400px !important;" class="example-full-width">
      <mat-select placeholder="Selecione o cliente" name="_clienteId" formControlName="_clienteId">
        <mat-option value="option" *ngFor="let c of clientes" [value]="c._id">
            {{ c.nomeFantasia }}
        </mat-option>
      </mat-select>
      <mat-hint align="end">clientes ativos</mat-hint>
    </mat-form-field>
    <br>
    <div class="mat-body-2"> 
      Dados financeiros:
    </div>

    <table class="example-full-width" cellspacing="0"><tr> 
      <td><mat-form-field  style="width:150px !important;" class="example-full-width">
          <input 
          matInput 
          placeholder="pedido"
          type="text"
          formControlName="pedido" 
          name="pedido"
          />
      </mat-form-field></td>&nbsp;&nbsp;&nbsp;

      <td><mat-form-field style="width:150px !important;" class="example-full-width">
        <input 
        matInput 
        placeholder="valor pedido"
        formControlName="valorPedido" 
        name="valorPedido"
        currencyMask 
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        class="example-right-align"
        />
      </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr> 
      <td><mat-form-field style="width:200px !important;" class="example-full-width">
        <input 
        matInput 
        placeholder="horas PLC"
        type="text"
        formControlName="horasPLC" 
        name="horasPLC"
        />
      </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr> 
      <td><mat-form-field style="width:200px !important;" class="example-full-width">
        <input 
        matInput 
        placeholder="horas IHM"
        type="text"
        formControlName="horasIHM" 
        name="horasIHM"
        />
      </mat-form-field></td>
    </tr></table>


    <table class="example-full-width" cellspacing="0"><tr> 
      <td><mat-form-field style="width:200px !important;" class="example-full-width">
        <input 
        matInput 
        placeholder="valor terceiros"
        formControlName="valorTerceiros" 
        name="valorTerceiros"
        currencyMask 
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        class="example-right-align"
        />
      </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr> 
      <td><mat-form-field style="width:200px !important;" class="example-full-width">
        <input 
        matInput 
        placeholder="valor materiais"
        formControlName="valorMateriais" 
        name="valorMateriais"
        currencyMask 
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        class="example-right-align"
        />
      </mat-form-field></td>
    </tr></table>


    <table class="example-full-width" cellspacing="0"><tr> 
      <td><mat-form-field style="width:200px !important;" class="example-full-width">
        <input 
        matInput 
        placeholder="valor viagens"
        formControlName="valorViagens" 
        name="valorViagens"
        currencyMask 
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        class="example-right-align"
        />
      </mat-form-field></td>
    </tr></table> 

    <button mat-raised-button color="basic" (click)="cancel()">cancela</button>

    <button mat-raised-button color="primary"  (click)="criarProjeto(projetoForm)" [disabled]="projetoForm.invalid">confirma</button>

  </form>
</div>  