<mat-toolbar>
    <img src="../assets/images/TorreNegra-logo-comp-horz-cor-pos-bgB.png">
</mat-toolbar>
<div class="mat-elevation-z8"> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/usuarios']">Retornar <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<br>
<div class="container" *ngIf="usuario"> 

  <div class="mat-body-2"> 
    Dados do usuário:
  </div>    

  <br>
  <table class="example-full-width" cellspacing="0"><tr> 
    <td>
      <div layout="row">
          <mat-label class="mat-h2">nome</mat-label>
          {{ usuario.nome }}
        </div>
    </td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr> 
      <td>
        <div layout="row">
            <mat-label class="mat-h2">sobrenome</mat-label>
            {{ usuario.sobrenome }}
          </div>
      </td>
    </tr></table>
  
  <table class="example-full-width" cellspacing="0"><tr> 
    <td>
      <div layout="row">
          <mat-label class="mat-h2">email</mat-label>
          {{ usuario.email }}
        </div>
    </td>
  </tr></table>


  <table class="example-full-width" cellspacing="0"><tr> 
    <td>
      <div layout="row">
          <mat-label class="mat-h2">função</mat-label>
          {{ usuario.funcao }}
        </div>
    </td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr> 
    <td>
      <div layout="row">
          <mat-label class="mat-h2">custo hora</mat-label>
          {{ usuario.custoHora | currency:'BRL'}}
        </div>
    </td>
  </tr></table>
  <br>
  <table class="example-full-width" cellspacing="0"><tr> 
    <td>
      <mat-checkbox color="warn" [disabled]="true" [checked]="isChecked()">Administrador
      </mat-checkbox>
    </td>
  </tr></table>
  <br>
  <div class="align_button"> 
    <button mat-raised-button color="basic"  (click)="cancel()">Cancela</button>

    <div *ngIf="usuario.ativo === 'ativo'">
      <button mat-raised-button color="warn" (click)="mudarSituacao('desativado')">desativar</button>
    </div>
    <div *ngIf="usuario.ativo === 'desativado'">
      <button mat-raised-button color="primary" (click)="mudarSituacao('ativo')">ativar</button>
    </div>
  </div>

</div>