<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <figure class="image is-128x128">
    <img src="../assets/images/TorreNegra-logo-comp-horz-cor-pos-bgB.png">
  </figure> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/projetos']">Retornar <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">


    Dados do usuário:

  <form (submit)='excluirUsuario()' #userForm='ngForm'>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Nome</label>
      </div>
      <div class="field-body">
        {{ usuario.nome }}
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">E-mail</label>
      </div>
      <div class="field-body">
        {{ usuario.email }}
      </div>
    </div>
    <!-- <div *ngIf="!projeto.descricao.valid" class="purple">Descrição do projeto precisar ter no mínimo 8 caracteres!</div> -->
    
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Função</label>
      </div>
      <div class="field-body">
        {{ usuario.funcao }}
      </div>
    </div>
    <!-- <div *ngIf="!projeto.cliente.valid" class="purple">Cliente precisar ter no mínimo 6 caracteres!</div> -->
  
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Custo/hora</label>
      </div>
      <div class="field-body">
        {{ usuario.custoHora }}
      </div>
    </div>
    <!-- <div *ngIf="!projeto.pedido.valid" class="purple">Pedido do projeto precisar ter no mínimo 4 caracteres!</div> -->
    
    <div class="field is-horizontal">
        <label class="checkbox">
          <figure class="image is-32x32">
            <img [src]="usuario['admin'] ? frontPath : backPath ">
          </figure>
          &nbsp; Adminstrador  
        </label>
      </div>

  
    <button type="button" class="btn btn-secondary" [routerLink]="['/usuarios']">Cancela</button>
    <button type="submit" class="button is-danger"  [disabled]="userForm.invalid">Excluir</button>
  
  </form>
</div>  
